<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>airflow-config</title>
    {% block head_css %}
      <link rel="stylesheet" type="text/css" href="static_airflow/airflowDefaultTheme.css">
      <link rel="stylesheet" type="text/css" href="static_airflow/materialIcons.css">
      <link rel="stylesheet" type="text/css" href="static_airflow/main.css">
    {% endblock %}
    {% block head_js %}{% endblock %}
  </head>
  <body>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% block tail_js %}{% endblock %}
  </body>
</html>
