{% extends "appbuilder/base.html" %}
{% block head_css %}
{{ super() }}
<link href="{{url_for('Airflow Balancer.static',filename='css/index.css')}}" rel="stylesheet">
{% endblock %}


{% block head_js %}
{{ super() }}
<script>
    window.__AIRFLOW_CONFIG__ = {{ config|safe|tojson }};
</script>
<script src="{{url_for('Airflow Config.static', filename='cdn/index.js')}}" nonce="{{baselib.get_nonce()}}"></script>
{% endblock %}


{% block content %}
    <div id="airflow-config-root"></div>
{% endblock %}